:root {
  --box-shadow-color: #2187e7;
  --border-color: rgba(0, 183, 229, 0.9);
  --border-color2: rgba(0, 183, 228, 0.9);
  --border-color3: #212121;
  --border-color4: #202020;
}

body {
  background-color: #1b2b34;
  color: #a7adba;
  & > .errorify {
    color: #cdd3de;
    background-color: #1b2b34;
    font-family: Consolas, monospace;
    padding: 5px 10px;
  }
}

a {
  color: #69c;
}

.circle {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid var(--border-color);
  opacity: 0.9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: spinPulse 1s infinite ease-in-out;
}

.circle1 {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid var(--border-color);
  opacity: 0.9;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 15px var(--box-shadow-color);
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  animation: spinoffPulse 1s infinite linear;
}

@keyframes spinPulse {
  0% {
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px var(--box-shadow-color);
  }

  50% {
    transform: rotate(145deg);
    opacity: 1;
  }

  100% {
    transform: rotate(-320deg);
    opacity: 0;
  }
}

@keyframes spinoffPulse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  & > * {
    flex: 1;
  }
}
